/* Custom Style Sheet */
/* Author:  Zhenbang Xiao */

/* The style of head menu */
.header {
    font-size: 18px !important;
}

/* The style of title*/
.intro-lead-in {
    font-family: 'Luckiest Guy', cursive !important;
    font-size: 65px !important;
}

/* The style of slogan */
.intro-heading {
    font-size: 63px !important;
}

/* Button color */
.btn-xl {
    background-color: rgb(0,176,230) !important;
    border-color: rgb(0,176,230) !important;
}